body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
  }
  
  nav {
	background-color: #333;
	color: white;
	padding: 10px;
	width: 100%;
	text-align: center;
  }
  
  .container {
	display: flex;
	
	width: 100%;
	
  }
  
  .image-container {
	
	flex: 2;
  }
  
  .form-container {
	flex: 1;
	max-width: 400px;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-left: auto;
  }
  
  form {
	display: flex;
	flex-direction: column;
  }
  
  .label {
	margin-bottom: 5px;
	color: #333;
  }
  
  .input,.selector {
	padding: 10px;
	border-radius: 8px;
	border: 1px solid;
	margin-bottom: 10px;
	box-sizing: border-box;
  }
  
  .validation-message {
	color: #ff0000;
	margin-top: 5px;
  }
  
  button {
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #45a049;
  }
  
  .password-strength {
	margin-top: 15px;
	display: none;
  }
  
  .strength-bar {
	height: 20px;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 5px;
	background-color: #eee;
  }
  
  .strength-level {
	display: block;
	height: 100%;
	width: 0;
	transition: width 0.3s;
  }
  
  .instruction {
	margin-top: 5px;
	color: #777;
	display: none;
  }
  